<div class="contenedor">
    <div class="main-bar">
        <nav>
            <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
                <span></span>
                <span></span>
                <span></span>
            </label>
            <div class="logo-header">
                <a href="#">#UNIPAMPLONA</a>
            </div>
            <ul>
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Our Gallery</a></li>
                <li><a href="#">Enquiry</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </div>
</div>