<div class="contenedor">
    <div class="main-bar">
        <nav>
            <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
                <span></span>
                <span></span>
                <span></span>
            </label>
            <div class="logo-header">
                <a href="#">#UNIPAMPLONA</a>
            </div>
            <ul>
                <li routerLinkActive="active"><a routerLink="/home/inicio">Home</a></li>
                <li ><a routerLink="">About Us</a></li>
                <li routerLinkActive="active">
                    <a routerLink="/home/agendar">Agendar</a>
                </li>
                <li routerLinkActive="active"><a routerLink="/home/1">Mis agendas</a></li>
                <li routerLinkActive="active"><a routerLink="/home/2">Cooming soon</a></li>
            </ul>
        </nav>
    </div>
</div>